<!-- contactus-curve-bg -->
<div class="curve-bg">

    <div class="contactus-bg-wrapper">
        <img src="../../assets/img/contactus.png" alt="image" class="contactus-img">
        <div class="contactus-bg"></div>
    </div>

    <div class="curve-bg-container">
        <div class="row mb-5 mt-5 mbr-white">
            <div class="col-6 no-padding mr-auto text-center">
                <h3 class="intro-heading mt-5 mb-5">Start Your Journey
                    <span>Contact Us</span>
                </h3>
            </div>
        </div>
        <div class="row location-mark">
            <div class="location-img col-6">
                <img class="img" src="../../assets/img/location.png" alt="location-img">
            </div>
        </div>
    </div>
</div>
<!-- contactus-curve-bg closed -->