<!-- heading section -->
<header>
    <div class="intro-bg">

    </div>

    <app-navbar></app-navbar>

    <div class="container intro">
        <div class="intro-text">
            <div class="col-lg-12 text-center">
                <div class="intro-heading mt-5 mb-5">Himalayas
                    <div class="leading text-uppercase">Adventure with us!</div>
                </div>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

                <a class="btn bg-primarycolor mbr-black btn-xl text-uppercase js-scroll-trigger" href="#"> Click Here</a>
            </div>
        </div>
    </div>
</header>
<!-- header section closed -->