<!-- customer review section -->
<section class="review p-b-25 p-t-15 text-center">
    <div class="review-bg">

    </div>
    <div class="container">
        <div class="row m-b-30 mbr-white">
            <div class="col-12 mr-auto">
                <h3 class="intro-heading mt-5">Customer Review
                </h3>
            </div>
        </div>
        <div id="testim" class="testim col-12 mbr-white">
            <div id="testim-content" class="cont">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p class="review-description">”Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.”</p>
                            <div class="star-rating">
                                <input id="star-5" type="radio" name="rating" value="star-5">
                                <label for="star-5" title="5 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-4" type="radio" name="rating" value="star-4">
                                <label for="star-4" title="4 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-3" type="radio" name="rating" value="star-3">
                                <label for="star-3" title="3 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-2" type="radio" name="rating" value="star-2">
                                <label for="star-2" title="2 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-1" type="radio" name="rating" value="star-1">
                                <label for="star-1" title="1 star">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                            </div>
                            <div class="footer-wrapper">
                                <div class="img">
                                    <img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h2>John Smith </h2>
                                    <span>Solo Traveller</span>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <p class="review-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            <div class="star-rating">
                                <input id="star-5" type="radio" name="rating" value="star-5">
                                <label for="star-5" title="5 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-4" type="radio" name="rating" value="star-4">
                                <label for="star-4" title="4 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-3" type="radio" name="rating" value="star-3">
                                <label for="star-3" title="3 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-2" type="radio" name="rating" value="star-2">
                                <label for="star-2" title="2 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-1" type="radio" name="rating" value="star-1">
                                <label for="star-1" title="1 star">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                            </div>
                            <div class="footer-wrapper">
                                <div class="img">
                                    <img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h2>John Smith </h2>
                                    <span>Solo Traveller</span>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <p class="review-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            <div class="star-rating">
                                <input id="star-5" type="radio" name="rating" value="star-5">
                                <label for="star-5" title="5 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-4" type="radio" name="rating" value="star-4">
                                <label for="star-4" title="4 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-3" type="radio" name="rating" value="star-3">
                                <label for="star-3" title="3 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-2" type="radio" name="rating" value="star-2">
                                <label for="star-2" title="2 stars">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                                <input id="star-1" type="radio" name="rating" value="star-1">
                                <label for="star-1" title="1 star">
                                  <i class="active fa fa-star" aria-hidden="true"></i>
                              </label>
                            </div>
                            <div class="footer-wrapper">
                                <div class="img">
                                    <img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h2>John Smith </h2>
                                    <span>Solo Traveller</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- customer review section closed-->