/* go-explore section */

.explore {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.explore-bg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.explore-bg-wrapper img.explore-img {
    width: 100%;
    height: 100%;
}

.explore-bg-wrapper .explore-bg {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    opacity: 0.7;
}

.explore .row .img {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 220px;
}

.explore .row .wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    background: #fff;
    line-height: 1.4;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    flex: 0 0 30%;
    max-width: 30%;
    transition: all 0.4s ease;
    transform-origin: center;
}

.explore .row .wrapper:hover {
    transform: scale(1.05);
}

.explore .img img {
    position: relative;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transition: all 0.4s ease;
}

.explore .row .wrapper:hover div>img {
    transform: scale(1.05);
}

.explore .block-title {
    font-size: 18px;
}

.explore .wrapper .description {
    padding: 10px;
}

.explore .wrapper .description p {
    padding: 0 20px;
    display: -webkit-box;
    font-size: 16px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .explore .row .wrapper {
        max-width: 100%;
        flex: 0 0 100%;
    }
}
