<!-- go-explore section -->
<section class="explore p-b-25 p-t-15 text-center">
    <div class="explore-bg">

    </div>
    <div class="container">
        <div class="row m-b-30">
            <div class="col-6 no-padding mr-auto">
                <h3 class="intro-heading mt-5 mb-4">Trusted Since 2007
                    <div class="text-uppercase">Go Explore</div>
                </h3>
            </div>
        </div>
        <div class="row wrapper">
            <div class="wrapper col-sm col-md-4 col-lg-4 no-padding">
                <div class="img everest md-pr-30 xs-no-padding">
                    <img alt="image" class="m-b-20" src="assets/img/everest.png">
                </div>
                <div class="cta-btn md-pr-30 xs-no-padding">
                    <a class="btn bg-primarycolor mbr-black btn-xl text-uppercase js-scroll-trigger" href="#"> Click Here</a>
                </div>
                <div class="description md-pr-30 xs-no-padding">
                    <h6 class="block-title p-b-5">Everest Base Camp Treks - 5300 M</h6>
                    <p class="m-b-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                </div>
            </div>
            <div class="wrapper col-sm col-md-4 col-lg-4 no-padding">
                <div class="img everest md-pr-30 xs-no-padding">
                    <img alt="image" class="m-b-20" src="assets/img/merapeak.png">
                </div>
                <div class="cta-btn md-pr-30 xs-no-padding">
                    <a class="btn bg-primarycolor mbr-black btn-xl text-uppercase js-scroll-trigger" href="#"> Click Here</a>
                </div>
                <div class="description md-pr-30 xs-no-padding">
                    <h6 class="block-title p-b-5">Mera Peak - 6450 M</h6>
                    <p class="m-b-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                </div>
            </div>
            <div class="wrapper col-sm col-md-4 col-lg-4 no-padding">
                <div class="img everest md-pr-30 xs-no-padding">
                    <img alt="image" class="m-b-20" src="../../assets/img/lumbini.png">
                </div>
                <div class="cta-btn md-pr-30 xs-no-padding">
                    <a class="btn bg-primarycolor mbr-black btn-xl text-uppercase js-scroll-trigger" href="#"> Click Here</a>
                </div>
                <div class="description md-pr-30 xs-no-padding">
                    <h6 class="block-title p-b-5">Lumbini - Land of Peace</h6>
                    <p class="m-b-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- go-explore section closed-->