<section class="inner-about">
    <div class="navbar-wrapper">
        <app-navbar></app-navbar>
        <div class="navbar-bg">

        </div>
    </div>

    <section class="about-wrapper p-b-25 p-t-15">
        <div class="container">
            <div class="inner-wrapper">
                <div class="row">
                    <div class="col-md-9">
                        <div class="main-title m-b-30">
                            <h2 class="intro-heading">What We Do?</h2>
                        </div>

                        <div class="content-wrapper">
                            <div class="detail-container m-b-30">
                                <h3 class="title"> Flights</h3>
                                <div class="detail-text"> Breakfast at hotel. This tour visits the BALI MUSEUM with its grand architecture housing artifacts from antiquity. Continue Photo stop in BAJRA SANDI Monument Renon. Next visit BATUBULAN stone figures on the roadside mark
                                    the village as the center of stone carving. Divinities and demons are carved from sandstone, limestone or volcanic stone to be used in houses and temples, or to be placed before entrances and road intersections. Continue
                                    to CELUK, famous for it is silver and gold smith also the place where you may see traditional Balinese house compound, next proceed to MAS: the home of Bali’s talented woodcarver and well known for special quality woodcarving
                                    and others handicraft, then UBUD: worldwide known as Bali’s heart of art & craft especially painting. Last stop is UBUD MARKET. Back to hotel.
                                </div>
                            </div>
                            <div class="detail-container m-b-30">
                                <h3 class="title"> Hotels</h3>
                                <div class="detail-text"> Airfare KTM-BKK-KTM. Airport Picks Up And Drops.
                                </div>
                            </div>


                            <div class="detail-container m-b-30">
                                <h3 class="title"> Holidays</h3>
                                <div class="detail-text"> Other Beverage Throughout Trip. Expenses Of Personal Nature ( Tel Calls, Laundry, Porterage & Tips) Anything Not Mention In Itinerary
                                </div>
                            </div>

                            <div class="detail-container m-b-30">
                                <h3 class="title"> Car Rental</h3>
                                <div class="detail-text"> Breakfast at hotel. This tour visits the BALI MUSEUM with its grand architecture housing artifacts from antiquity. Continue Photo stop in BAJRA SANDI Monument Renon. Next visit BATUBULAN stone figures on the roadside mark
                                    the village as the center of stone carving. Divinities and demons are carved from sandstone, limestone or volcanic stone to be used in houses and temples, or to be placed before entrances and road intersections
                                </div>
                            </div>
                            <div class="detail-container m-b-30">
                                <h3 class="title"> Visa Assitance</h3>
                                <ul>
                                    <li>Airfare KTM-BKK-KTM.</li>
                                    <li>Airport Picks Up And Drops.</li>
                                    <li>Coral Island Tour With Lunch In Pattaya</li>
                                    <li>City And Temple Tours At Bangkok.</li>
                                    <li>Daily Breakfast At Hotel.</li>
                                    <li>Transfer Bangkok Airport – Pattaya Hotel – Bangkok Airport</li>
                                </ul>
                            </div>
                            <div class="detail-container m-b-30">
                                <h3 class="title"> Travel Insurance</h3>
                                <ul>
                                    <li>Other Beverage Throughout Trip.</li>
                                    <li>Expenses Of Personal Nature ( Tel Calls, Laundry, Porterage & Tips)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature-package">
                            <h4>Feature Package</h4>
                            <div class="feature-package-wrapper" *ngFor="let trip of trips | slice:0:2">
                                <div class="feature-item">
                                    <div class="feature-wrapper">
                                        <div class="img-wrapper">
                                            <img alt="image" src="{{ trip.cover_photo}}">
                                        </div>
                                        <div class="floating-btn cta-btn md-pr-30 xs-no-padding">
                                            <a class="btn bg-primarycolor mbr-black btn-sm text-uppercase" href="#" [routerLink]="['/package-detail' , trip.trip_id]" routerLinkActive="router-link-active"> View Detail </a>
                                        </div>
                                        <div class="description">
                                            <div class="title-wrapper mb-3">
                                                <h3 class="block-title">{{ trip.name }}</h3>
                                            </div>
                                            <div class="item-detail">
                                                <div class="pricing mb-3">
                                                    <span>Rs.{{ trip.price }}/-</span>
                                                    <span>{{ trip.duration }}</span>
                                                </div>
                                                <div class="item-detail-text">
                                                    <p [innerHTML]=trip.overview>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
