<!-- gallery section -->
<section class="gallery text-center">

    <div class="gallery-bg-wrapper">
        <img src="../../assets/img/gallery-bg.png" alt="" class="gallery-img">
        <div class="gallery-bg"></div>
    </div>

    <div class="p-b-25 p-t-15">
        <div class="container">
            <div class="row m-b-30 mbr-white">
                <div class="col-12 mr-auto">
                    <h3 class="intro-heading mt-5">Gallery
                    </h3>
                    <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

                </div>
            </div>
            <div class="row wrapper m-b-30">

                <div class="gallery-item col-sm-12 col-md-4 col-lg-4">
                    <a href="#">
                        <img src="../../assets/img/everest.png" class="img-responsive">
                        <div class="figcaption">
                            <h4 class="title">Package Title</h4>
                        </div>
                    </a>
                </div>

                <div class="gallery-item col-sm-12 col-md-4 col-lg-4">
                    <a href="#">
                        <img src="../../assets/img/himalayan-2.png" class="img-responsive">
                        <div class="figcaption">
                            <h4 class="title">Package Title</h4>
                        </div>
                    </a>
                </div>

                <div class="gallery-item col-sm-12 col-md-4 col-lg-4">
                    <a href="#">
                        <img src="../../assets/img/water.png" class="img-responsive">
                        <div class="figcaption">
                            <h4 class="title">Package Title</h4>
                        </div>
                    </a>
                </div>

                <div class="gallery-item col-sm-12 col-md-4 col-lg-4">
                    <a href="#">
                        <img src="../../assets/img/buddhism.png" class="img-responsive">
                        <div class="figcaption">
                            <h4 class="title">Package Title</h4>
                        </div>
                    </a>
                </div>

                <div class="gallery-item col-sm-12 col-md-4 col-lg-4">
                    <a href="#">
                        <img src="../../assets/img/mountain.png" class="img-responsive">
                        <div class="figcaption">
                            <h4 class="title">Package Title</h4>
                        </div>
                    </a>
                </div>

                <div class="gallery-item col-sm-12 col-md-4 col-lg-4">
                    <a href="#">
                        <img src="../../assets/img/mountain-annupurna.png" class="img-responsive">
                        <div class="figcaption">
                            <h4 class="title">Package Title</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- gallery section closed-->