<!-- gallery section -->
<section class="gallery p-b-25 p-t-15 text-center">
    <div class="gallery-bg">

    </div>
    <div class="container">
        <div class="row m-b-30 mbr-white">
            <div class="col-12 mr-auto">
                <h3 class="intro-heading mt-5">Gallery
                </h3>
                <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

            </div>
        </div>
        <div class="row wrapper">
            <div class="gallery-item col-sm-12 col-md-4 col-lg-4" *ngFor="let image of images">
                <img src="{{ image.cover_photo }}" class="img-responsive" (click)="tripId(image.trip_id)" >
            </div>
        </div>
    </div>
</section>
<!-- gallery section closed-->
