.detail-wrapper {
    background-color: #ebebeb;
    // color: #5f5f5f;
}

.detail-wrapper .img img {
    width: 100%;
}

.content-wrapper {
    margin: 3em 0;
}

.offer-excludes,
.offer-includes,
.itinerary,
.overview {
    // margin-bottom: 30px;
}

.itinerary-item {
    padding: 10px 0;
}

.itinerary-item h6 {
    font-weight: 700;
}

.itinerary-item h6 span {
    text-transform: uppercase;
}

.offer-excludes ul li,
.offer-includes ul li {
    list-style-type: none;
}

.pricing-detail {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.pricing-detail span {
    display: block;
    margin-bottom: 10px;
}

.pricing-detail span.starting-price,
.pricing-detail span.cost {
    font-weight: 700;
}

.pricing-detail span.starting-price,
.pricing-detail span.destination {
    font-size: 14px;
    color: #858585;
}

.pricing-detail span.duration {
    font-size: 16px;
    color: #858585;
}

.tour-brief {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.tour-brief ul li {
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 14px;
    color: #858585;
}

.tour-brief ul li>span {
    width: 130px;
    display: inline-block;
    font-weight: 700;
    color: #5f5f5f;
}

.booking h4,
.enquiry h4,
.call-back h4 {
    font-size: 19px;
    margin-bottom: 20px;
    color: #494949;
    font-weight: 700;
}

.booking,
.enquiry,
.call-back {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.call-back.recommended-package {
    border: none;
}

.booking ul {
    margin-bottom: 10px;
}

.booking ul li {
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
    overflow-wrap: break-word;
}

.booking ul li a {
    color: #777;
    text-decoration: none;
    transition: all 0.2s ease;
}

.booking ul li span {
    width: 20px;
    // margin-right: 5px;
    display: inline-block;
}

.booking ul li i {
    color: #21b5ff;
}

.booking li a:hover {
    opacity: 0.75;
}

.form-control {
    height: 40px;
    font-size: 14px;
}

.enquiry .custom-field {
    background: 0 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.call-back-btn {
    background: #21b5ff;
}

// .destination-wrapper .pricing span {
//     display: block;
//     margin: 5px 0;
// }
// .destination-wrapper .item-detail .pricing span:last-child {
//     float: right;
// }

/* booking form popup modal */

.booking-form button.btn {
    transition: all 0.2s ease-in-out;
}

.booking-form button.btn:hover {
    transform: scale(1.1);
}

.booking-form .modal-header h5 {
    text-align: center;
    font-weight: 700;
}

button.close {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.modal-header {
    background: #21b5ff;
}

.modal-header h5 {
    font-size: 26px;
}

.trip-wrapper {
    padding: 20px 30px;
}

.booking-form label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

label.travel-date {
    font-size: 18px;
}

.form-group.row .col-md-6,
.form-group .col-md-6 {
    padding: 0 !important;
}

.sub-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.form-control {
    height: 40px;
    font-size: 14px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 12px;
}

.form-check {
    padding-left: 0;
    margin-bottom: 1rem;
}

.pull-right {
    float: right;
}

button {
    cursor: pointer;
}

.traveler-no,
.trip-detail {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
}

.traveler-no .form-group,
.trip-detail .form-group,
{
    flex: 0 0 48%;
    max-width: 48%;
    margin-right: 10px;
}