<section class="inner-detail">
    <div class="navbar-wrapper">
        <app-navbar></app-navbar>
        <div class="navbar-bg">

        </div>
    </div>

    <section class="detail-wrapper p-b-25 p-t-15">
        <div class="container">
            <div class="inner-wrapper">
                <div class="row">
                    <div class="col-md-9" *ngFor="let trip of tripsData">
                        <div class="main-title mb-3">
                            <h2 class="intro-heading">{{ trip.name }}</h2>
                        </div>
                        <div class="img">
                            <img src="{{ trip.cover_photo }}" alt="image">
                        </div>
                        <div class="content-wrapper">
                            <div class="overview m-b-30">
                                <h3 class="title">Overview</h3>
                                <div class="overview-detail">
                                    <p [innerHTML]="trip.overview">
                                    </p>
                                </div>
                            </div>
                            <div class="itinerary m-b-30">
                                <h3 class="title">Detailed Day Wise Itinerary</h3>
                                <div class="itinerary-item" *ngFor="let itinerary of itineraryData">
                                    <h4>{{ itinerary.day }}</h4>
                                    <p [innerHTML]="itinerary.description"></p>
                                </div>
                            </div>
                            <div class="offer-includes m-b-30">
                                <h3 class="title">Offer Includes</h3>
                                <ul>
                                    <li>Airfare KTM-BKK-KTM.</li>
                                    <li>Airport Picks Up And Drops.</li>
                                    <li>Coral Island Tour With Lunch In Pattaya</li>
                                    <li>City And Temple Tours At Bangkok.</li>
                                    <li>Daily Breakfast At Hotel.</li>
                                    <li>Transfer Bangkok Airport – Pattaya Hotel – Bangkok Airport</li>
                                </ul>
                            </div>
                            <div class="offer-excludes m-b-30">
                                <h3 class="title">Offer Excludes</h3>
                                <ul>
                                    <li>Other Beverage Throughout Trip.</li>
                                    <li>Expenses Of Personal Nature ( Tel Calls, Laundry, Porterage & Tips)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" *ngFor="let trip of tripsData">
                        <div class="pricing-detail">
                            <h3>
                                <span class="starting-price">Starting Price from</span>
                                <span class="cost"> Rs.{{ trip.price}}/-</span>
                                <span class="duration">{{ trip.duration}}</span>
                                <span class="destination">{{ trip.name }}</span>
                            </h3>
                          </div>
                        <div class="tour-brief">
                            <ul>
                                <li>
                                    <span>Highest Altitude</span> {{ trip.altitude }}
                                </li>
                                <li>
                                    <span>Trip Grade</span> {{ trip.rating }}
                                </li>
                                <li>
                                    <span>Trip Difficulty</span> {{ trip.difficulty}}
                                </li>
                                <li>
                                    <span>Trip Season</span> {{ trip.season }}
                                </li>
                                <li>
                                    <span>Activities</span> {{ trip.keyword }}
                                </li>
                            </ul>
                        </div>
                        <div class="booking">
                            <h4>Booking Contact</h4>
                            <ul>
                                <li>
                                    <a href="tel:+977-9851063719">
                                        <span>
                      <i class="fas fa-phone"></i>
                    </span> +977-9851063719
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>
                      <i class="fas fa-map-marker-alt"></i>
                    </span> Hattisar, Kathmandu
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:{{ trip.email }}">
                                        <span>
                      <i class="fas fa-envelope"></i>
                    </span> himalayanvisiontreks@gmail.com
                        {{ trip.email }}
                                    </a>
                                </li>
                            </ul>
                            <!-- <a class="btn bg-primarycolor mbr-black btn-md text-uppercase" href="#">Book Now</a> -->

                            <!-- Button trigger modal -->
                            <button type="button" class="btn bg-primarycolor mbr-black btn-md text-uppercase" data-toggle="modal" data-target="#exampleModalLong">
                                Book Now
                            </button>

                        </div>
                        <div class="enquiry">
                            <h4>Enquiry</h4>
                            <div class="form-wrapper">
                                <form action="">
                                    <div class="form-group">
                                        <input class="form-control custom-field" id="fname" placeholder="Full Name" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control custom-field" id="email" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control custom-field" id="contact" placeholder="Contact No." type="number">
                                    </div>
                                    <div class="form-group">
                                        <input class="btn bg-primarycolor mbr-black btn-md text-uppercase" type="submit" value="Submit Now">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="call-back">
                            <h4>Request a Callback</h4>
                            <div class="input-group">
                                <input class="form-control" placeholder="Type your number" type="text">
                                <div class="input-group-append">
                                    <button class="btn call-back-btn" type="button">
                                        <i aria-hidden="true" class="fas fa-phone"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="call-back">
                            <h4>Get Itinerary</h4>
                            <div class="input-group">
                                <input class="form-control" placeholder="Type your email" type="email">
                                <div class="input-group-append">
                                    <button class="btn call-back-btn" type="button">
                                        <i aria-hidden="true" class="fas fa-envelope"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="call-back recommended-package">
                            <h4>Recommended Package</h4>
                            <div class="recommended-package-wrapper">
                                <div class="destination-item" *ngFor="let trip of trips | slice:0:2">
                                    <div class="destination-wrapper">
                                        <div class="img-wrapper">
                                            <img src="{{ trip.cover_photo}}" alt="image">
                                        </div>
                                        <div class="floating-btn cta-btn md-pr-30 xs-no-padding">
                                            <a class="btn bg-primarycolor mbr-black btn-sm text-uppercase" href="#" [routerLink]="['/package-detail',trip.trip_id]" routerLinkActive="router-link-active" >
                                                View Detail
                                            </a>
                                        </div>
                                        <div class="description">
                                            <div class="title-wrapper mb-3">
                                                <h3 class="block-title">{{ trip.name }}</h3>
                                            </div>
                                            <div class="item-detail">
                                                <div class="pricing mb-3">
                                                    <span>Rs.{{ trip.price }}/-</span>
                                                    <span>{{ trip.duration }}</span>
                                                </div>
                                                <div class="item-detail-text">
                                                    <p [innerHTML]=trip.overview>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="booking-form">
        <div class="container">
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"  *ngFor="let trip of tripsData" >
                <div class="modal-dialog modal-dialog modal-lg" role="document" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title col-12" id="exampleModalLongTitle">{{ trip.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="bookingForm" (ngSubmit)='onsubmit(bookingForm)'>
                                <div class="trip-wrapper">
                                    <div class="form-group">
                                        <label for="expiry-date" class="travel-date">Travel Date (From - To)*</label>
                                        <div class="form-group travel-date">
                                            <input class="form-control" formControlName="date" type="text" daterangepicker [options]="options" (selected)="selectedDate($event)" (cancelDaterangepicker)="calendarCanceled($event)" (applyDaterangepicker)="calendarApplied($event)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h3 class="sub-title">Number of Travelers</h3>
                                        <div class="form-group row traveler-no">
                                            <div class="col-md-6 form-group">
                                                <label for="adults">Adults*</label>
                                                <input class="form-control" formControlName="adults" id="adults"  placeholder="No. of adults..." type="number" [ngClass]="">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="childrens">Childrens*</label>
                                                <input class="form-control" formControlName="childrens" id="childrens"  placeholder="No. of childrens..." type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h3 class="sub-title">Trip Leader Detail</h3>
                                        <div class="form-group row trip-detail">
                                            <div class="col-md-6 form-group">
                                                <label for="contactName">Full Name*</label>
                                                <input class="form-control" formControlName="contactName" id="contactName" placeholder="Enter Full Name ..." type="text"
                                                 />
                                            </div>
                                            <div class="col-md-6 form-group">
                                              <label for="contactName">Email*</label>
                                              <input class="form-control" formControlName="contactEmail" id="contactEmail" placeholder="Enter email address ..." type="text" />
                                            </div>
                                            <div *ngIf="bookingForm.get('contactEmail').invalid"  class="alert alert-danger">               
                                              Email is invalid.               
                                            </div>   
                                            <div *ngIf="bookingForm.get('contactEmail').errors?.required &&  bookingForm.get('contactEmail').touched" class="alert alert-danger">               
                                                Email is required.               
                                            </div> 
                                            <div class="col-md-6 form-group">
                                              <label for="contactName">Phone Number*</label>
                                              <input class="form-control" formControlName="contactNumber" id="contactNumber" placeholder="Enter Mobile Number ..." type="text"
                                              />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <span class="error" id="mobileNumberLength" ></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check book">
                                        <label>
                                            <input id="termsCheck" name="termsCheck" required="" type="checkbox"> I agree to the
                                            <a routerlink="/terms" target="_blank" href="#/terms">Terms and Conditions</a> and
                                            <a target="_blank">Privacy Policy</a>
                                        </label>
                                    </div>
                                    <button class="btn bg-primarycolor mbr-black btn-sm text-uppercase" id="confirmBttn" type="submit" value="Book">Book</button>
                                    <button class="btn btn-sm text-uppercase modal-close-btn pull-right" data-dismiss="modal" type="button">Close</button>
                                </div>
                              </form>
                        </div>
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Book</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
  </section>
</section>