.detail-wrapper {
    background-color: #ebebeb;
    // color: #5f5f5f;
}

h2.intro-heading {
    font-weight: 900;
}

.detail-wrapper .img img {
    width: 100%;
}

.content-wrapper {
    margin: 3em 0;
}

.offer-excludes,
.offer-includes,
.itinerary,
.overview {
    margin-bottom: 30px;
}

.title {
    font-weight: 700;
    margin-bottom: 10px;
}

.itinerary-item {
    padding: 10px 0;
}

.itinerary-item h6 {
    font-weight: 700;
}

.itinerary-item h6 span {
    text-transform: uppercase;
}

.offer-excludes ul li,
.offer-includes ul li {
    list-style-type: none;
}

.pricing-detail {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.pricing-detail span {
    display: block;
    margin-bottom: 10px;
}

.pricing-detail span.starting-price,
.pricing-detail span.cost {
    font-weight: 700;
}

.pricing-detail span.starting-price,
.pricing-detail span.destination {
    font-size: 14px;
    color: #858585;
}

.pricing-detail span.duration {
    font-size: 16px;
    color: #858585;
}

.tour-brief {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.tour-brief ul li {
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 14px;
    color: #858585;
}

.tour-brief ul li>span {
    width: 130px;
    display: inline-block;
    font-weight: 700;
    color: #5f5f5f;
}

.booking h4,
.enquiry h4,
.call-back h4,
.recommended-package h4 {
    font-size: 19px;
    margin-bottom: 20px;
    color: #494949;
    font-weight: 700;
}

.booking,
.enquiry,
.call-back {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.call-back.recommended-package {
    border: none;
}

.booking ul {
    margin-bottom: 10px;
}

.booking ul li {
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
    overflow-wrap: break-word;
}

.booking ul li a {
    color: #777;
    text-decoration: none;
    transition: all 0.2s ease;
}

.booking ul li span {
    width: 20px;
    // margin-right: 5px;
    display: inline-block;
}

.booking ul li i {
    color: #21b5ff;
}

.booking li a:hover {
    opacity: 0.75;
}

.form-control {
    height: 40px;
    font-size: 14px;
}

.enquiry .custom-field {
    background: 0 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.call-back-btn {
    background: #21b5ff;
}

.destination-item {
    margin-bottom: 20px;
}

.destination-item {
    display: flex;
    flex-direction: column;
    margin: 3em auto;
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    background: #fff;
    line-height: 1.4;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: all 0.4s ease;
}

.destination-item:hover {
    transform: scale(1.1);
}

.destination-item .img-wrapper img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: all 0.4s ease;
}

.destination-wrapper .description {
    padding: 20px;
}

.destination-item:hover div>img {
    transform: scale(1.1);
}

.item-detail-text p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

// .destination-wrapper .pricing span {
//     display: block;
//     margin: 5px 0;
// }
// .destination-wrapper .item-detail .pricing span:last-child {
//     float: right;
// }
.detail-wrapper .destination-wrapper a {
    text-decoration: none;
    transition: all 0.2s ease;
    letter-spacing: 1px;
    margin: 10px 0;
}

.destination-wrapper .floating-btn.cta-btn {
    margin-top: -30px;
}

@media (min-width: 992px) {
    .item-detail .pricing span:last-child {
        float: none;
    }
}

@media (min-width: 768px) {
    .item-detail .pricing span:last-child {
        float: none;
    }
    .destination-wrapper .pricing span {
        display: block;
        margin: 5px 0;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .item-detail .pricing span:last-child {
        float: right;
    }
    .destination-wrapper .pricing span {
        display: inline;
    }
}