<!-- contactus section -->
<section class="contactus">

    <div class="curve-bg">
        <div class="curve-bg-container">
            <div class="row mb-5 mt-5 mbr-white">
                <div class="col-6 no-padding mr-auto">
                    <h3 class="intro-heading mt-5 mb-5">Start Your Journey
                        <span>Contact Us</span>
                    </h3>
                </div>
            </div>
            <div class="row location-mark">
                <div class="location-img col-6">
                    <img class="img" src="../../assets/img/location.png" alt="location-img">
                </div>
            </div>
        </div>
        <div class="contactus-bg">

        </div>
    </div>

    <app-contactus-footer></app-contactus-footer>
</section>
<!-- contactus section closed-->