<section class="inner-expedition">
    <div class="navbar-wrapper">
        <app-navbar></app-navbar>
        <div class="navbar-bg">

        </div>
    </div>
    <section class="expedition-wrapper p-b-25 p-t-15">
        <div class="container">
            <div class="inner-wrapper">
                <div class="row m-b-30">
                    <div class="col-6 no-padding mr-auto text-center">
                        <h3 class="intro-heading mt-5 mb-4">Expedition</h3>
                    </div>
                </div>
                <div class="row item-container mt-5">
                    <div class="expedition-item col-sm col-md-4 col-lg-4 no-padding">
                        <div class="img xs-no-padding">
                            <img src="../../assets/img/maldives.png" alt="image">
                        </div>
                        <div class="cta-btn md-pr-30 xs-no-padding">
                            <a class="btn bg-primarycolor mbr-black btn-xl text-uppercase" href="#"> 
                              View Detail
                          </a>
                        </div>
                        <div class="description">
                            <div class="title-wrapper mb-3">
                                <h3 class="block-title">Chilli</h3>
                            </div>
                            <div class="item-detail">
                                <div class="pricing mb-3">
                                    <span>Rs.89,000/-</span>
                                    <span>5 Days 6 Nights</span>
                                </div>
                                <div class="item-detail-text">
                                    <p>
                                        Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expedition-item col-sm col-md-4 col-lg-4 no-padding">
                        <div class="img xs-no-padding">
                            <img src="../../assets/img/maldives-2.png" alt="image">
                        </div>
                        <div class="cta-btn md-pr-30 xs-no-padding">
                            <a class="btn bg-primarycolor mbr-black btn-xl text-uppercase" href="#"> 
                              View Detail
                          </a>
                        </div>
                        <div class="description">
                            <div class="title-wrapper mb-3">
                                <h3 class="block-title">Ireland</h3>
                            </div>
                            <div class="item-detail">
                                <div class="pricing mb-3">
                                    <span>Rs.99,000/-</span>
                                    <span>5 Days 6 Nights</span>
                                </div>
                                <div class="item-detail-text">
                                    <p>
                                        Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expedition-item col-sm col-md-4 col-lg-4 no-padding">
                        <div class="img xs-no-padding">
                            <img src="../../assets/img/maldives-3.png" alt="image">
                        </div>
                        <div class="cta-btn md-pr-30 xs-no-padding">
                            <a class="btn bg-primarycolor mbr-black btn-xl text-uppercase" href="#"> 
                              View Detail
                          </a>
                        </div>
                        <div class="description">
                            <div class="title-wrapper mb-3">
                                <h3 class="block-title">Maldives</h3>
                            </div>
                            <div class="item-detail">
                                <div class="pricing mb-3">
                                    <span>Rs.89,000/-</span>
                                    <span>5 Days 6 Nights</span>
                                </div>
                                <div class="item-detail-text">
                                    <p>
                                        Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expedition-item col-sm col-md-4 col-lg-4 no-padding">
                        <div class="img xs-no-padding">
                            <img src="../../assets/img/maldives-2.png" alt="image">
                        </div>
                        <div class="cta-btn md-pr-30 xs-no-padding">
                            <a class="btn bg-primarycolor mbr-black btn-xl text-uppercase" href="#"> 
                                  View Detail
                              </a>
                        </div>
                        <div class="description">
                            <div class="title-wrapper mb-3">
                                <h3 class="block-title">Ireland</h3>
                            </div>
                            <div class="item-detail">
                                <div class="pricing mb-3">
                                    <span>Rs.99,000/-</span>
                                    <span>5 Days 6 Nights</span>
                                </div>
                                <div class="item-detail-text">
                                    <p>
                                        Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expedition-item col-sm col-md-4 col-lg-4 no-padding">
                        <div class="img xs-no-padding">
                            <img src="../../assets/img/maldives-3.png" alt="image">
                        </div>
                        <div class="cta-btn md-pr-30 xs-no-padding">
                            <a class="btn bg-primarycolor mbr-black btn-xl text-uppercase" href="#"> 
                                  View Detail
                              </a>
                        </div>
                        <div class="description">
                            <div class="title-wrapper mb-3">
                                <h3 class="block-title">Maldives</h3>
                            </div>
                            <div class="item-detail">
                                <div class="pricing mb-3">
                                    <span>Rs.89,000/-</span>
                                    <span>5 Days 6 Nights</span>
                                </div>
                                <div class="item-detail-text">
                                    <p>
                                        Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expedition-item col-sm col-md-4 col-lg-4 no-padding">
                        <div class="img xs-no-padding">
                            <img src="../../assets/img/maldives.png" alt="image">
                        </div>
                        <div class="cta-btn md-pr-30 xs-no-padding">
                            <a class="btn bg-primarycolor mbr-black btn-xl text-uppercase" href="#"> 
                              View Detail
                          </a>
                        </div>
                        <div class="description">
                            <div class="title-wrapper mb-3">
                                <h3 class="block-title">Chilli</h3>
                            </div>
                            <div class="item-detail">
                                <div class="pricing mb-3">
                                    <span>Rs.89,000/-</span>
                                    <span>5 Days 6 Nights</span>
                                </div>
                                <div class="item-detail-text">
                                    <p>
                                        Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>