.expedition-wrapper h3.intro-heading {
    // border-bottom: 2px solid #ccc;
    // display: inline-block;
    // padding-bottom: 10px;
}

.expedition-wrapper {
    // border-bottom: 2px solid #dee2e6;
    background-color: #ebebeb;
}

.expedition-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 25px auto;
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    background: #fff;
    line-height: 1.4;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    // padding: 15px !important;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.expedition-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.expedition-item .img {
    width: 100%;
    margin: 0 auto;
    height: 220px;
}

.expedition-item:hover div>img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.expedition-item .img img {
    position: relative;
    height: 100%;
    width: 100%;
}

.expedition-item .description {
    padding: 20px;
}

// .expedition-item .cta-btn {
//     position: absolute;
//     top: 45%;
//     left: 50%;
//     transform: translate(-50%, -45%);
// }