.expedition-wrapper h3.intro-heading {
    // border-bottom: 2px solid #ccc;
    // display: inline-block;
    // padding-bottom: 10px;
}

.expedition-item {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    background: #dee2e6;
    line-height: 1.4;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    flex: 0 0 30%;
    max-width: 30%;
    -webkit-transform-origin: center;
    transform-origin: center;
    // padding: 15px !important;
    transition: all 0.4s ease;
}

.expedition-item:hover {
    transform: scale(1.1);
}

.expedition-item .img {
    overflow: hidden;
    width: 100%;
    margin: 0 auto 30px;
    height: 220px;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px
}

.expedition-item:hover div>img {
    transform: scale(1.1);
}

.expedition-item .img img {
    position: relative;
    height: auto;
    width: 100%;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: all 0.4s ease;
}

.expedition-item .description {
    padding: 30px 20px 20px;
}

.expedition-item .cta-btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.item-detail .pricing :first-child {
    font-weight: 700;
}

.item-detail .pricing span:last-child {
    font-weight: 500;
    float: right;
}

@media (max-width: 768px) {
    .inner-expedition .row .expedition-item {
        max-width: 100%;
        flex: 0 0 100%;
    }
}