/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
}


/* for navbar-bg */

.navbar-wrapper {
    position: relative;
}

.navbar-bg {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: -1;
}


/* for navbar-bg closed */

h3.intro-heading {
    font-weight: 700;
}


/* expedition and trekking page */

.item-detail-text p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.trekking-item,
.expedition-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.item-detail .pricing :first-child {
    font-weight: 700;
}

.item-detail .pricing span:last-child {
    font-weight: 500;
    float: none;
}

.trekking-wrapper h3.intro-heading,
.expedition-wrapper h3.intro-heading {
    font-size: 62px;
    font-weight: 900;
}

@media (min-width: 768px) {
    .trekking-item,
    .expedition-item {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .item-detail .pricing span:last-child {
        float: right;
    }
    .trekking-wrapper h3.intro-heading,
    .expedition-wrapper h3.intro-heading {
        font-size: 42px;
    }
}

@media (min-width: 992px) {
    .trekking-item,
    .expedition-item {
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media (max-width: 480px) {
    .trekking-item,
    .expedition-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .pricing span {
        display: block;
        margin: 5px 0;
    }
}


/* expedition and trekking page closed*/

.floating-btn.cta-btn {
    position: relative;
    margin-top: -46px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.floating-btn-md.cta-btn {
    position: relative;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-xl {
    font-size: 15px;
    padding: 15px 40px;
}

.btn-md {
    font-size: 14px;
    padding: 10px 20px;
}

.btn-sm {
    font-size: 12px;
    padding: 10px 20px;
}

a.btn {
    margin: 0px 0;
}

.btn {
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
}

.btn:hover {
    box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 1);
}

.mbr-black {
    color: #000;
    transition: all 0.2s ease-in-out;
    transform-origin: center;
}

.mbr-black:hover {
    color: #fff;
    transform: scale(1.1);
}

.no-padding {
    padding: 0px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-t-15 {
    padding-top: 45px !important;
}

.p-b-25 {
    padding-bottom: 55px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.block-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
}

.bg-primarycolor {
    background: #21b5ff;
}

.mbr-white {
    color: #fff;
}

.mr-auto,
.container .row {
    margin: 0 auto;
}