.trekking-wrapper h3.intro-heading {
    // border-bottom: 2px solid #ccc;
    // display: inline-block;
    // padding-bottom: 10px;
}

.trekking-wrapper {
    // border-bottom: 2px solid #dee2e6;
    background-color: #ebebeb;
}

.trekking-item {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    background: #fff;
    line-height: 1.4;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    // padding: 15px !important;
    transition: all 0.4s ease;
}

.trekking-item:hover {
    transform: scale(1.1);
}

.trekking-item .img {
    width: 100%;
    margin: 0 auto;
    height: 220px;
}

.trekking-item:hover div>img {
    transform: scale(1.1);
}

.trekking-item .img img {
    position: relative;
    height: 100%;
    width: 100%;
}

.trekking-item .description {
    padding: 20px;
}

// .trekking-item .cta-btn {
//     position: absolute;
//     top: 45%;
//     left: 50%;
//     transform: translate(-50%, -45%);
// }