<!-- section-treking-info -->
<section class="treking p-b-25 p-t-15 bg-primarycolor text-center">
    <div class="container">
        <div class="row mbr-white">
            <div class="wrapper col-sm-12 col-md-6 col-lg-3 no-padding">
                <div class="md-pr-30 xs-no-padding">
                    <img alt="image" class="img m-b-20" src="../../assets/img/trekking.png">
                    <h6 class="block-title p-b-5">{{field1}}</h6>
                    <p class="m-b-30">{{fieldDetail1}}</p>
                </div>
            </div>
            <div class="wrapper col-sm-12 col-md-6 col-lg-3 no-padding">
                <div class="md-pr-30 xs-no-padding">
                    <img alt="image" class="img m-b-20" src="../../assets/img/expedition.png">
                    <h6 class="block-title p-b-5">{{field2}}</h6>
                    <p class="m-b-30">{{fieldDetail2}}</p>
                </div>
            </div>
            <div class="wrapper col-sm-12 col-md-6 col-lg-3 no-padding">
                <div class="md-pr-30 xs-no-padding">
                    <img alt="image" class="img m-b-20" src="../../assets/img/adventure.png">
                    <h6 class="block-title p-b-5">{{field3}}</h6>
                    <p class="m-b-30">{{fieldDetail3}}</p>
                </div>
            </div>
            <div class="wrapper col-sm-12 col-md-6 col-lg-3 no-padding">
                <div class="md-pr-30 xs-no-padding">
                    <img alt="image" class="img m-b-20" src="../../assets/img/tours.png">
                    <h6 class="block-title p-b-5">{{field4}}</h6>
                    <p class="m-b-30">{{fieldDetail4}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section-treking-info closed-->
