.footer-address.container {
    width: 100%;
    max-width: 1200px;
    // margin: 20px auto;
}

.footer-address .row.contact {
    padding: 25px 0;
}

.footer-address ul.wrapper {
    display: block;
    margin: 0 auto;
    word-break: break-word;
}

.footer-address li {
    margin: 0 10px;
}

.footer-address li:nth-child(1) {
    margin-left: 0;
}

.footer-address ul.wrapper li {
    list-style: none;
    margin: 30px 0;
    display: block;
    text-align: center;
    max-width: 100%;
}

.footer-address .icon {
    margin: 10px;
}

.footer-address li i {
    margin: 0 10px;
    font-size: 45px;
}

.footer-address ul.wrapper li .wrapper {
    margin: 10px;
}

.footer-address .heading {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-address .description {
    font-size: 14px;
    margin: 10px 0;
}

.footer-address .contact a {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.footer-address .description a {
    display: block;
    color: #212529;
    text-decoration: none;
}

.footer-address .contact a:focus,
.footer-address .contact a:hover {
    opacity: 0.75;
}

@media (min-width: 1024px) {
    .footer-address ul.wrapper {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: baseline;
        align-items: baseline;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .footer-address ul.wrapper li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        text-align: left;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}