<div class="footer-address container">
    <div class="row contact">
        <ul class="wrapper">
            <li class="col-12 col-md-12 col-lg-4">
                <div class="icon">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="wrapper">
                    <div class="heading">Email</div>
                    <div class="description">
                        <a href="mailto:himalayanvisiontreks@gmail.com">himalayanvisiontreks@gmail.com</a>
                        <a href="mailto:info@himalayanvisiontreks.com">info@himalayanvisiontreks.com</a>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-12 col-lg-4">
                <div class="icon">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="wrapper">
                    <div class="heading">Call Us!</div>
                    <div class="description">
                        <a href="tel:9851063719">+977 9851063719</a>
                        <a href="tel:9841836016">+977 9841836016</a>
                    </div>
                </div>
            </li>
            <li class="col-12 col-md-12 col-lg-4">
                <div class="icon">
                    <i class="far fa-map"></i>
                </div>
                <div class="wrapper">
                    <div class="heading">Address</div>
                    <div class="description">
                        <span>Budhanilkantha 13, Kapan(POB 19840) Kathmandu, Nepal</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>