<div class="footer-social container">
    <div class="row social">
        <ul class="social-container" *ngFor="let site of info">
            <li>
                <a href="{{ site.facebook }}">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.instagram}}">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.twitter}}">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
              <a href="{{ site.linkedin}}">
                  <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
        </ul>
    </div>
</div>




