<div class="footer-social container">
    <div class="row social">
        <ul class="social-container">
            <li>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-digg"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-deviantart"></i>
                </a>
            </li>
        </ul>
    </div>
</div>