.footer-social.container {
    width: 100%;
    max-width: 1200px;
    // margin: 20px auto;
}

.footer-social .row.social {
    margin: 25px 0;
}

.footer-social li:nth-child(1) {
    margin-left: 0;
}

.footer-social .icon {
    margin: 10px;
}

.footer-social li i {
    margin: 0 10px;
    font-size: 45px;
}

ul.social-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

ul.social-container li {
    margin: 10px;
    list-style: none;
    font-size: 24px;
}

ul.social-container li a {
    width: 70px;
    padding: 16px 0;
    display: block;
    color: #fff;
    border: 2px solid #21b5ff;
    border-radius: 50%;
}

ul.social-container li a {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

ul.social-container li a:hover i {
    color: #fff;
}

ul.social-container li i {
    font-size: 26px;
    color: #333;
}

ul.social-container li a i {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

ul.social-container li:nth-child(1) a:hover {
    background: #3b5998;
    border-color: #3b5998;
}

ul.social-container li:nth-child(2) a:hover {
    background: #db4437;
    border-color: #db4437;
}

ul.social-container li:nth-child(3) a:hover {
    background: #1da1f2;
    border-color: #1da1f2;
}

ul.social-container li:nth-child(4) a:hover {
    background: #ff0000;
    border-color: #ff0000;
}

ul.social-container li:nth-child(5) a:hover {
    background: #007bb5;
    border-color: #007bb5;
}

ul.social-container li:nth-child(6) a:hover {
    background: #1b1a19;
    border-color: #1b1a19;
}

ul.social-container li:nth-child(7) a:hover {
    background: #05cc47;
    border-color: #05cc47;
}